{
  "Dashboard":{
  "__inputs": [
    {
      "name": "InfluxDB-2",
      "label": "InfluxDB-2",
      "description": "",
      "type": "datasource",
      "pluginId": "influxdb",
      "pluginName": "InfluxDB"
    },
    {
      "name": "InfluxDB-1",
      "label": "InfluxDB-1",
      "description": "",
      "type": "datasource",
      "pluginId": "influxdb",
      "pluginName": "InfluxDB"
    }
  ],
  "__requires": [
    {
      "type": "panel",
      "id": "bargauge",
      "name": "Bar gauge",
      "version": ""
    },
    {
      "type": "grafana",
      "id": "grafana",
      "name": "Grafana",
      "version": "7.3.7"
    },
    {
      "type": "panel",
      "id": "graph",
      "name": "Graph",
      "version": ""
    },
    {
      "type": "datasource",
      "id": "influxdb",
      "name": "InfluxDB",
      "version": "1.0.0"
    },
    {
      "type": "panel",
      "id": "marcusolsson-hourly-heatmap-panel",
      "name": "Hourly heatmap",
      "version": "0.10.0"
    },
    {
      "type": "panel",
      "id": "table",
      "name": "Table",
      "version": ""
    }
  ],
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": false,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "limit": 100,
        "matchAny": true,
        "name": "Annotations & Alerts",
        "showIn": 0,
        "tags": [],
        "type": "tags"
      }
    ]
  },
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "id": null,
  "iteration": 1614180806066,
  "links": [],
  "panels": [
    {
      "datasource": "InfluxDB-2",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "center",
            "displayMode": "auto",
            "filterable": true
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "progress ratio"
            },
            "properties": [
              {
                "id": "custom.displayMode",
                "value": "gradient-gauge"
              },
              {
                "id": "color",
                "value": {
                  "mode": "thresholds"
                }
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "red",
                      "value": null
                    },
                    {
                      "color": "orange",
                      "value": 25
                    },
                    {
                      "color": "yellow",
                      "value": 50
                    },
                    {
                      "color": "rgb(170, 217, 141)",
                      "value": 75
                    },
                    {
                      "color": "light-green",
                      "value": 100
                    }
                  ]
                }
              },
              {
                "id": "unit",
                "value": "percent"
              },
              {
                "id": "displayName",
                "value": "Progress Ratio"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "name"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "Workflow"
              },
              {
                "id": "custom.width",
                "value": 250
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "last"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "Completed Task"
              },
              {
                "id": "custom.width",
                "value": 140
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "total task"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "Total Task"
              },
              {
                "id": "custom.width",
                "value": 140
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "status value"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 20
              },
              {
                "id": "mappings",
                "value": [
                  {
                    "from": "",
                    "id": 1,
                    "text": "https://cdn2.iconfinder.com/data/icons/free-basic-icon-set-2/300/11-512.png",
                    "to": "",
                    "type": 1,
                    "value": "7"
                  },
                  {
                    "from": "1",
                    "id": 2,
                    "text": "https://freesvg.org/img/molumen_red_round_error_warning_icon.png",
                    "to": "3",
                    "type": 2,
                    "value": ""
                  },
                  {
                    "from": "",
                    "id": 3,
                    "text": "https://icon-library.com/images/waiting-icon-gif/waiting-icon-gif-20.jpg",
                    "to": "",
                    "type": 1,
                    "value": "4"
                  },
                  {
                    "from": "",
                    "id": 4,
                    "text": "https://media0.giphy.com/media/LmeddTcbT0TTFsddSQ/source.gif",
                    "to": "",
                    "type": 1,
                    "value": "5"
                  },
                  {
                    "from": "",
                    "id": 5,
                    "text": "https://www.bluechipexterminating.com/wp-content/uploads/2020/02/loading-gif-png-5.gif",
                    "to": "",
                    "type": 1,
                    "value": "6"
                  }
                ]
              },
              {
                "id": "custom.displayMode",
                "value": "image"
              },
              {
                "id": "displayName",
                "value": "."
              },
              {
                "id": "custom.filterable",
                "value": false
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Time"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 200
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "status value_1"
            },
            "properties": [
              {
                "id": "mappings",
                "value": [
                  {
                    "from": "",
                    "id": 1,
                    "text": "completed!",
                    "to": "",
                    "type": 1,
                    "value": "7"
                  },
                  {
                    "from": "",
                    "id": 2,
                    "text": "running ...",
                    "to": "",
                    "type": 1,
                    "value": "6"
                  },
                  {
                    "from": "",
                    "id": 3,
                    "text": "waiting ...",
                    "to": "",
                    "type": 1,
                    "value": "5"
                  },
                  {
                    "from": "",
                    "id": 4,
                    "text": "pending ...",
                    "to": "",
                    "type": 1,
                    "value": "4"
                  },
                  {
                    "from": "",
                    "id": 5,
                    "text": "expired",
                    "to": "",
                    "type": 1,
                    "value": "3"
                  },
                  {
                    "from": "",
                    "id": 6,
                    "text": "aborted",
                    "to": "",
                    "type": 1,
                    "value": "2"
                  },
                  {
                    "from": "",
                    "id": 7,
                    "text": "ERROR!",
                    "to": "",
                    "type": 1,
                    "value": "1"
                  }
                ]
              },
              {
                "id": "displayName",
                "value": "Status"
              },
              {
                "id": "custom.displayMode",
                "value": "color-text"
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "red",
                      "value": null
                    },
                    {
                      "color": "light-purple",
                      "value": 4
                    },
                    {
                      "color": "blue",
                      "value": 5
                    },
                    {
                      "color": "yellow",
                      "value": 6
                    },
                    {
                      "color": "green",
                      "value": 7
                    }
                  ]
                }
              },
              {
                "id": "custom.width",
                "value": 120
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Progress Ratio"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 950
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 17,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 32,
      "links": [],
      "options": {
        "showHeader": true,
        "sortBy": []
      },
      "pluginVersion": "7.3.7",
      "targets": [
        {
          "alias": "InfoTask.Completed Tasks.$tag_name",
          "groupBy": [
            {
              "params": [
                "name"
              ],
              "type": "tag"
            }
          ],
          "hide": false,
          "measurement": "workflow status",
          "orderByTime": "DESC",
          "policy": "autogen",
          "query": "SELECT last(\"task\"), \"total task\", \"progress ratio\", \"status value\", \"status value\" FROM \"autogen\".\"workflow status\" WHERE (\"user\" =~ /^$User$/ AND \"status\" =~ /^$Status$/) AND $timeFilter GROUP BY \"name\" ORDER BY time DESC",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "table",
          "select": [
            [
              {
                "params": [
                  "task"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "last"
              }
            ],
            [
              {
                "params": [
                  "total task"
                ],
                "type": "field"
              }
            ],
            [
              {
                "params": [
                  "progress ratio"
                ],
                "type": "field"
              }
            ],
            [
              {
                "params": [
                  "status value"
                ],
                "type": "field"
              }
            ],
            [
              {
                "params": [
                  "status value"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "user",
              "operator": "=~",
              "value": "/^$User$/"
            },
            {
              "condition": "AND",
              "key": "status",
              "operator": "=~",
              "value": "/^$Status$/"
            }
          ]
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Workflow Progress",
      "type": "table"
    },
    {
      "collapsed": false,
      "datasource": "InfluxDB-2",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 17
      },
      "id": 23,
      "panels": [],
      "repeat": null,
      "title": "Global Workflows and Users",
      "type": "row"
    },
    {
      "cacheTimeout": null,
      "datasource": "InfluxDB-2",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {},
          "links": [],
          "mappings": [],
          "min": 0,
          "noValue": "0",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "completed_last"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "completed"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "green",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "running_last"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "running"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "yellow",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "error_last"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "error"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "red",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "pending_last"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "pending"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "purple",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "aborted_last"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "aborted"
              },
              {
                "id": "color",
                "value": {
                  "fixedColor": "super-light-red",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 9,
        "w": 7,
        "x": 0,
        "y": 18
      },
      "id": 34,
      "interval": null,
      "links": [],
      "maxDataPoints": 100,
      "options": {
        "displayMode": "basic",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "sum"
          ],
          "fields": "",
          "values": false
        },
        "showUnfilled": true,
        "text": {}
      },
      "pluginVersion": "7.3.7",
      "targets": [
        {
          "alias": "",
          "dsType": "influxdb",
          "groupBy": [
            {
              "params": [
                "status"
              ],
              "type": "tag"
            }
          ],
          "hide": false,
          "measurement": "task",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "SELECT count(*) AS \"completed\" FROM (SELECT last(\"task\"), \"status\" FROM \"monitor_db\".\"autogen\".\"workflow status\" GROUP BY \"name\") WHERE (\"status\"='OPH_STATUS_COMPLETED') AND $timeFilter ",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "table",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "sum"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "pending"
            }
          ]
        },
        {
          "alias": "",
          "dsType": "influxdb",
          "groupBy": [
            {
              "params": [
                "status"
              ],
              "type": "tag"
            }
          ],
          "hide": false,
          "measurement": "task",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "SELECT count(*) AS \"running\" FROM (SELECT last(\"task\"), \"status\" FROM \"monitor_db\".\"autogen\".\"workflow status\" GROUP BY \"name\") WHERE (\"status\"='OPH_STATUS_RUNNING') AND $timeFilter ",
          "rawQuery": true,
          "refId": "I",
          "resultFormat": "table",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "sum"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "pending"
            }
          ]
        },
        {
          "alias": "",
          "dsType": "influxdb",
          "groupBy": [
            {
              "params": [
                "status"
              ],
              "type": "tag"
            }
          ],
          "hide": false,
          "measurement": "task",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "SELECT count(*) AS \"error\" FROM (SELECT last(\"task\"), \"status\" FROM \"monitor_db\".\"autogen\".\"workflow status\" GROUP BY \"name\") WHERE (\"status\"='OPH_STATUS_ERROR') AND $timeFilter ",
          "rawQuery": true,
          "refId": "B",
          "resultFormat": "table",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "sum"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "pending"
            }
          ]
        },
        {
          "alias": "",
          "dsType": "influxdb",
          "groupBy": [
            {
              "params": [
                "status"
              ],
              "type": "tag"
            }
          ],
          "hide": false,
          "measurement": "task",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "SELECT count(*) AS \"aborted\" FROM (SELECT last(\"task\"), \"status\" FROM \"monitor_db\".\"autogen\".\"workflow status\" GROUP BY \"name\") WHERE (\"status\"='OPH_STATUS_ABORTED') AND $timeFilter ",
          "rawQuery": true,
          "refId": "C",
          "resultFormat": "table",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "sum"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "pending"
            }
          ]
        },
        {
          "alias": "",
          "dsType": "influxdb",
          "groupBy": [
            {
              "params": [
                "status"
              ],
              "type": "tag"
            }
          ],
          "hide": false,
          "measurement": "task",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "SELECT count(*) AS \"pending\" FROM (SELECT last(\"task\"), \"status\" FROM \"monitor_db\".\"autogen\".\"workflow status\" GROUP BY \"name\") WHERE (\"status\"='OPH_STATUS_PENDING') AND $timeFilter ",
          "rawQuery": true,
          "refId": "D",
          "resultFormat": "table",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "sum"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "pending"
            }
          ]
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Workflows",
      "type": "bargauge"
    },
    {
      "aliasColors": {
        "pending": "purple",
        "running": "yellow"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "InfluxDB-2",
      "decimals": 0,
      "fieldConfig": {
        "defaults": {
          "custom": {},
          "links": []
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 5,
      "gridPos": {
        "h": 9,
        "w": 17,
        "x": 7,
        "y": 18
      },
      "hiddenSeries": false,
      "id": 1,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": true,
        "max": true,
        "min": true,
        "show": true,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.7",
      "pointradius": 1,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "alias": "pending",
          "dsType": "influxdb",
          "groupBy": [],
          "measurement": "workflow",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "pending"
            }
          ]
        },
        {
          "alias": "running",
          "dsType": "influxdb",
          "groupBy": [],
          "measurement": "workflow",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "B",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "running"
            }
          ]
        },
        {
          "alias": "waiting",
          "dsType": "influxdb",
          "groupBy": [],
          "measurement": "workflow",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "C",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "waiting"
            }
          ]
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Workflows",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:619",
          "format": "short",
          "label": "n°",
          "logBase": 1,
          "max": null,
          "min": "0",
          "show": true
        },
        {
          "$$hashKey": "object:620",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {
        "user": "light-orange"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "InfluxDB-2",
      "decimals": 0,
      "fieldConfig": {
        "defaults": {
          "custom": {},
          "links": []
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 4,
      "gridPos": {
        "h": 9,
        "w": 24,
        "x": 0,
        "y": 27
      },
      "hiddenSeries": false,
      "id": 4,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": true,
        "max": true,
        "min": true,
        "rightSide": true,
        "show": true,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.7",
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": true,
      "targets": [
        {
          "dsType": "influxdb",
          "groupBy": [],
          "measurement": "user",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "SELECT \"value\" FROM \"user\" WHERE $timeFilter",
          "rawQuery": false,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": []
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Users",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:448",
          "format": "short",
          "label": "n°",
          "logBase": 1,
          "max": null,
          "min": "0",
          "show": true
        },
        {
          "$$hashKey": "object:449",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "collapsed": false,
      "datasource": "InfluxDB-2",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 36
      },
      "id": 22,
      "panels": [],
      "repeat": null,
      "title": "Global Tasks running and Cores used",
      "type": "row"
    },
    {
      "aliasColors": {
        "completed": "green",
        "failed": "rgb(255, 0, 0)",
        "pending": "purple",
        "value completed": "green",
        "value failed": "red",
        "value pending": "purple",
        "value running": "yellow"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "InfluxDB-2",
      "decimals": 0,
      "fieldConfig": {
        "defaults": {
          "custom": {},
          "links": [],
          "thresholds": {
            "mode": "absolute",
            "steps": []
          }
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 4,
      "gridPos": {
        "h": 9,
        "w": 24,
        "x": 0,
        "y": 37
      },
      "hiddenSeries": false,
      "id": 33,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": true,
        "max": true,
        "min": true,
        "rightSide": true,
        "show": true,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.7",
      "pointradius": 0.5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "alias": "pending",
          "dsType": "influxdb",
          "groupBy": [],
          "measurement": "task",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"monitor_db/autogen\")\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"task\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"status\"] == \"pending\")",
          "rawQuery": false,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "pending"
            }
          ]
        },
        {
          "alias": "running",
          "dsType": "influxdb",
          "groupBy": [],
          "hide": false,
          "measurement": "task",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"monitor_db/autogen\")\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"task\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"status\"] == \"running\")",
          "refId": "B",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "running"
            }
          ]
        },
        {
          "alias": "waiting",
          "dsType": "influxdb",
          "groupBy": [],
          "hide": false,
          "measurement": "task",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"monitor_db/autogen\")\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"task\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"status\"] == \"waiting\")",
          "refId": "C",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "waiting"
            }
          ]
        },
        {
          "alias": "completed",
          "dsType": "influxdb",
          "groupBy": [],
          "hide": false,
          "measurement": "task",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"monitor_db/autogen\")\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"task\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"status\"] == \"completed\")",
          "refId": "D",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "completed"
            }
          ]
        },
        {
          "alias": "failed",
          "dsType": "influxdb",
          "groupBy": [],
          "hide": false,
          "measurement": "task",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"monitor_db/autogen\")\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"task\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"status\"] == \"failed\")",
          "refId": "E",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "failed"
            }
          ]
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Tasks",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:146",
          "decimals": 0,
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:147",
          "decimals": 0,
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "datasource": "InfluxDB-1",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "calculation": "last",
            "colorPalette": "interpolateGnBu",
            "colorSpace": "rgb",
            "groupBy": 60,
            "invertPalette": false
          },
          "links": [],
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 12,
        "w": 24,
        "x": 0,
        "y": 46
      },
      "id": 20,
      "links": [],
      "options": {
        "from": "0",
        "legendGradientQuality": "low",
        "showCellBorder": true,
        "showLegend": true,
        "showTooltip": true,
        "showValueIndicator": true,
        "timeFieldName": "_start",
        "to": "0",
        "valueFieldName": "value"
      },
      "pluginVersion": "7.3.6",
      "targets": [
        {
          "alias": "",
          "dsType": "influxdb",
          "groupBy": [
            {
              "params": [
                "1h"
              ],
              "type": "time"
            }
          ],
          "measurement": "core",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"monitor_db\")\n|> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n|> filter(fn: (r) => r[\"_measurement\"] == \"core\")\n|> filter(fn: (r) => r[\"_field\"] == \"value\")\n|> filter(fn: (r) => r[\"status\"] == \"active\")\n|> window(every: 1h)\n|> timeWeightedAvg(unit: 1h)\n|> group()",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "active"
            }
          ]
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Cores running",
      "type": "marcusolsson-hourly-heatmap-panel"
    }
  ],
  "refresh": "5s",
  "schemaVersion": 26,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
      {
        "allValue": null,
        "current": {},
        "datasource": "InfluxDB-2",
        "definition": "SHOW TAG VALUES WITH KEY=\"user\"",
        "description": null,
        "error": null,
        "hide": 0,
        "includeAll": true,
        "label": null,
        "multi": false,
        "name": "User",
        "options": [],
        "query": "SHOW TAG VALUES WITH KEY=\"user\"",
        "refresh": 2,
        "regex": "",
        "skipUrlSync": false,
        "sort": 0,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": true
      },
      {
        "allValue": "",
        "current": {},
        "datasource": "InfluxDB-2",
        "definition": "SHOW TAG VALUES FROM \"workflow status\" WITH KEY=\"status\"",
        "description": null,
        "error": null,
        "hide": 0,
        "includeAll": true,
        "label": null,
        "multi": true,
        "name": "Status",
        "options": [],
        "query": "SHOW TAG VALUES FROM \"workflow status\" WITH KEY=\"status\"",
        "refresh": 2,
        "regex": "",
        "skipUrlSync": false,
        "sort": 0,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      }
    ]
  },
  "time": {
    "from": "now-5m",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [
      "2s",
      "5s",
      "10s",
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ],
    "time_options": [
      "5m",
      "15m",
      "1h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d",
      "30d"
    ]
  },
  "timezone": "browser",
  "title": "Application Metrics",
  "uid": "LCXE-pfMz",
  "version": 5
}
}