ONECLIENT_PROVIDER_HOST=oneprovider.cmcc.it
ONECLIENT_ACCESS_TOKEN=MDAxY2xvY2F00aW9uIGRhdGFodWIuZWdpLmV1CjAwNjVpZGVudGlmaWVyIDIvbm1kL3Vzci002NzI5ZmU3NDEyY2YwYTFiMWU00MTliMzllM2VkNGVhYS9hY3QvNjRkZDg00ODMyNjNhYmQxZWUxN2RkZGQ2NTFkOTE1YzJjaDY00YWEKMDAxNmNpZCBkYXRhLnJlYWRvbmx5CjAwNDljaWQgZGF00YS5wYXRoID00gTHpKbU9UVTBaall6TmpaaVlqQXpORGN3TnpRME5XVTBaVEUwTXpCaE1EZzRZMmhpWXpaaQowMDJmc2lnbmF00dXJlINohnLLX7pLknFSjBbT8kQ9H2THHZ3JiV7OSD6XxReUlCg
ONECLIENT_MOUNT=/data/onedata/ecas_provider

